
<%- include('partials/header') -%>

<header>
  <div class="banner">
    <div class="container">
      <h1 class="banner-title"><span>Podcast</span> Design</h1>
      <p>everything that you want to know about podacsts</p>
    </div>
  </div>
</header>
<section class="about" id="about">
  <div class="container">
    <div class="about-content">
      <div>
        <img src="images/about-bg.jpg" alt="" />
      </div>
      <div class="about-text">
        <div class="title">
          <h2>Catherine Doe</h2>
          <p>podcast is my passion</p>
        </div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id totam
          voluptatem saepe eius ipsum nam provident sapiente, natus et vel
          eligendi laboriosam odit eos temporibus impedit veritatis ut, illo
          deserunt illum voluptate quis beatae quod. Necessitatibus provident
          dicta consectetur labore!
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
          corrupti natus, eos quia recusandae voluptatem veniam modi officiis
          minima provident rem sint porro fuga quos tempora ea suscipit vero
          velit sed laudantium eaque necessitatibus maxime!
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('partials/footer') -%>
