<%- include('partials/header') -%>

<main class="login-main">
  <div id="container">
    <section>
      <h1>Login to Account</h1>
    </section>

    <% if(error) {%>
    <p class="flash"><%= error%></p>
    <%}%>
    <form action="/users/login" method="POST">
      <div class="form-control">
        <label for="text">Email</label>
        <input
          id="text"
          type="email"
          name="email"
          placeholder="arya@stark.com"
        />
        <small class="display"></small>
      </div>

      <div class="form-control error">
        <label for="text">Password</label>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Enter your password"
        />
        <small class="display"></small>
      </div>

      <button type="submit">Login</button>
    </form>
  </div>
</main>
<%- include('partials/footer') -%>