<%- include('partials/header') -%>

<main class="auth-error">
  <div>
    <img src="/images/block.png" alt="" />
  </div>
  <p>You are blocked by Admin please contact Admin!!</p>
</main>

<%- include('partials/footer') -%>